<div class="all-posts">
    <div class="post">
        <div class="post-title">
            <a href="/post/{{posts.id}}"><h3>{{posts.title}}</h3></a>
            <h5>Posted by {{posts.user.name}} on {{posts.date_created}}</h5>
        </div>
        <div class="post-content">
            <p>{{posts.content}}</p>
        </div>
    </div>
</div>

<div class="create-comment-container">
    <div class="comment-header"></div>
    <div class="create-comment-body">
        <p>Comment</p>
        <textarea name="" id="" cols="30" rows="5"></textarea>
        <div class="comment-submit-box">
            <button class="comment-submit-btn">Submit</button>
        </div>
    </div>
</div>

<div class="all-comments">
    <div class="comment-header"></div>
    {{#each posts.comments as |comment|}}
    <div class="comment">
        <p>{{comment.content}}</p>
        <br>
        <p>-User, {{comment.date_created}}</p>
    </div>
    {{/each}}
</div>